footer {
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  #header-icon,
  #header-menu {
    margin-right: 1em;
  }
  #header-menu {
    cursor: pointer;
  }
  #title-link {
    text-decoration: none;
  }
}
